<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
        <title><%= locals.headTitle.pageName %><%= locals.headTitle.remainder %></title>
    </head>
    <body class="container">
        <div class="navbar">
            <a href="/">
                <h1>NextTrack</h1>
                <h2>Recommendations Page</h2>
            </a>
        </div>

        <div class="submitted-track-details">
            <h3>Track's Details</h3>
            <ul>
                <li>Name: <%= spotify_trackDetails.name %></li>
                <li>
                    Artist(s): <% spotify_trackDetails.artists.forEach((artist, index) => { %>
                    <!-- Format -->
                    <% let comma_space = index == spotify_trackDetails.artists.length - 1 ? "" : ", " %>
                    <!-- Format -->
                    <%= artist.name %><%= comma_space %>
                    <!-- Format -->
                    <% }) %>
                </li>
                <li>Release Date (YYYY-MM-DD): <%= spotify_trackDetails.album.release_date %></li>
            </ul>
        </div>

        <div class="row">
            <div class="customise-your-recommendations col-md-6">
                <h3>Customise Your Recommendations</h3>
                <p>How similar do you want your recommendations to be?</p>
                <!--
                TODO
                Double-click to reset slider's value.
                Upon form submission, put slider (and other param) values in URL via something like `?=`.
                Then, with those `?=` in the URL, page refreshing will set it at that value.
                -->

                <!-- Adding `autocomplete="off"` ensures slider (and other GUI) values are reset upon page refresh -->
                <form autocomplete="off">
                    <h4>Genres / Tags</h4>
                    <span>Current: </span>
                    <ul>
                        <% lastFm_genreTags.forEach((genreTag) => { %>
                        <li><%= genreTag.name %></li>
                        <% }) %>
                    </ul>
                    <div class="form-group">
                        <div class="similarity-slider">
                            <label for="similaritySlider" class="form-label">
                                <span>Recommended Similarity: </span>
                                <span id="similaritySliderValue">100</span>%
                            </label>
                            <input name="similaritySlider" id="similaritySlider" type="range" class="form-range" min="0" max="100" step="1" value="100" />
                        </div>
                    </div>

                    <h4>Popularity</h4>
                    <span>Current: <%= spotify_trackDetails.popularity %> / 100</span>
                    <div class="form-group">
                        <div class="popularity-slider">
                            <label for="popularitySlider" class="form-label">
                                <span>Recommended: </span>
                                <span id="popularitySliderValue"><%= spotify_trackDetails.popularity %></span>
                                <span> / 100</span>
                            </label>
                            <input name="popularitySlider" id="popularitySlider" type="range" class="form-range" min="0" max="100" step="1" value="<%= spotify_trackDetails.popularity %>" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="recommended-tracks col-md-6">
                <h3>Recommended Tracks</h3>
                <!--
                TODO
                End-goal is to apply the following section to each and every recommended track via a loop.
                For now, just focus on getting 1 dummy "recommended" (not really) track to work.
                -->
                <div class="recommended-track">
                    <p>Title: abc</p>
                    <p>Artist: def</p>
                    <p>
                        Listen at:
                        <button>Spotify</button>
                        <button>Apple Music</button>
                        <button>YouTube Music</button>
                    </p>
                    <p>
                        Music Video:
                        <br />*music video (either straight from YouTube, or the linked/embedded video on Last.fm's / Genius' page)*
                    </p>
                    <p>
                        Lyrics:
                        <br />*lyrics from Genius*
                    </p>
                    <p>
                        "About" / Wiki Section:
                        <br />*"about" section from Last.fm or Genius*
                    </p>
                </div>
            </div>
        </div>

        <script>
            // Add this `document.addEventListener()` to ensure slider (and other GUI) values are reset on page refresh
            document.addEventListener("DOMContentLoaded", function () {
                function attachSlider(sliderId, valueId) {
                    let slider = document.getElementById(sliderId);
                    let value = document.getElementById(valueId);
                    if (slider && value) {
                        // Set initial value
                        value.textContent = slider.value;
                        slider.addEventListener("input", () => {
                            value.textContent = slider.value;
                        });
                    }
                }

                attachSlider("similaritySlider", "similaritySliderValue");
                attachSlider("popularitySlider", "popularitySliderValue");
            });
        </script>
    </body>
</html>
